body, .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
}

.container {
    flex-direction: column;
    height: 40vh;
    width: 40vh;
    background-color: #fff;
    box-shadow: 0 0 15px 1px;
    border-radius: 20px;
}

#colorselector{
    border: none;
    width: 90px;
    height: 90px;
}